@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;600&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
    margin:0px;
}

html, body {
    margin: 0;
    padding: 0;
}

.auth-bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(255, 243, 148) 0%, rgb(255, 225, 90) 25%, rgb(255, 153, 0) 51%, #fe9834 100%);
    -webkit-animation: AnimateBG 15s ease infinite;
            animation: AnimateBG 15s ease infinite;
    }
      
    @-webkit-keyframes AnimateBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
      
    @keyframes AnimateBG {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
    }
}

.auth-heading {
    margin-top: 40px !important;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teampage {
    height: 100vh;
    width: 100vw;
    padding: 1vw;
}

.landing-div {
    background-image: url(../public/ALP-background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-left: 10vh;
    
}

.landing-btn {
    color: white;
    border-color: white;
    border-radius: 10%;
    border-width: 0.1cm;
    width: 10vw;
    font-family: 'Epilogue', sans-serif;
    margin-right: 3vw;
}

.submit-btn {
    color: #FE9834;
}
#state-label{
    text-align: left
    }
